* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.home{
    height: 100vh;
    background:url(/photos/Untitled\ design.jpg);
    background-size: cover;  /* Ensures it covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
}
.sidebar {
    width: 100px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}
.sidebar img{
    height: 40px;
    transition: transform 0.1s ease-in-out;
}
.sidebar img:hover, ul li a:hover{
    transform: scale(1.2);
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0px;
    margin-top: 100px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    transition: transform 0.1s;
}

.nav-links li a:hover {
    color: teal;
    transform: scale(1.2);
}
/* Hamburger Menu (Left Side) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        height: 100vh;
        left: 0;
        background-color: #333;
        width: 20%;
        text-align: left;
        padding: 10px;
    }
    .nav-links li {
        margin:15px;
    }
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        transition: color 0.3s ease-in-out;
    }
    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}





.hero {
    display: flex;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    gap: 15rem;
    text-transform: uppercase;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif ;
    position: relative;
    padding: 50px 0;
}






.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.284);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter:blur(20px);
}
.side-bar li{
    width: 100%;
    padding: 20px;
}
.side-bar a{
    width: 100%;
}
.menu-btn{
    display: block;
}
.into-block{
    height: 100vh;
    align-items: center;
    width: 100%;
}
.into-block-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 100px;
    width: 50%;
}
.into-block-sub h{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.into-block-sub h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
button.resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.resume-btn{
    margin: 50px;
   height:50px;
   width: 200px;
   border-radius: 50px;
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resume-btn:hover{
    box-shadow: 5px 5px 10px black;
    transition: .1s ease-in-out;
    border: transparent;
    transform: scale(1.1);
}


/* ---ACADEMICS SECTION */

#academics {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
}
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.edu-details {
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.edu-title h2 {
    font-size: 1.8rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.edu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.box {
    background-color: rgba(249, 249, 249, 0.8);
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box:hover {
    transform: translateY(-5px);
    background-color: #007bff;
    backdrop-filter: blur(60px);
    transition: .2s ease-in-out;
}
.box h4 {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}
.box p {
    font-size: 1rem;
    color: #666;
}
.percentage {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.box:hover .percentage {
    opacity: 1; 
}


/*---ABOUT ME SECTION--- */
#aboutme {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
}
.about-container {
    max-width: 1200px;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 30px;
}
.image-selection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white;
}
.about-image {
    height: 300px;
    width: 300px;
    border-radius: 100px 200px;
    object-fit: cover;
    border: 4px solid #ddd;
}
.infosection {
    flex: 2;
    text-align: left;
    color: #333;
}
.infosection h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}
.infosection h2 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 20px;
}
.infosection p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}
.skillsection {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
}
.subject {
    font-weight: bold;
    color: #555;
    width: 150px;
}
.progress-bar {
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}
.progress-line {
    height: 15px;
    background-color: #007bff;
    border-radius: 20px;
}
.skill:hover .subject {
    color: #007bff;
    cursor: pointer;
}
.skill:hover .progress-line {
    background-color: #007bff;
}

/*----EXPERIENCE-----*/

#experience {
    padding: 50px 20px;
    text-align: center;
    background-color: #ffffff;
    height: 70vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}
.background-text {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: bold;
    color: rgba(200, 200, 200, 0.2);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
}
.experience-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.experience-card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.date-range {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 10px;
}
.experience-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}
.experience-card p {
    font-size: 0.9rem;
    margin: 10px 0;
    color: #666;
}
.experience-card span {
    font-size: 0.8rem;
    color: #999;
}

/*----FOOTER SECTION-----*/
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 20vh;
  }
  .startup-name {
    flex: 1;
    text-align: left;
    padding-left: 20px;
  }
  .connect-btn {
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
.connect-btn button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .connect-btn a{
    text-decoration: none;
  }
 .connect-btn button:hover {
    background-color: #0056b3;
  }
.social-links {
    flex: 1;
    text-align: right;
    padding-right: 20px;
  }
  .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .social-links a:hover {
    color: #007BFF;
  }
  .footer-img{
    height: 40px;
    filter: invert(1);
  }
  .footer-img:hover{
    filter: invert(0);
  }
  .footer-bottom {
    display: flex;
    margin-top: 8vh;
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    align-items: center;
  }

  /*SMALL SCREEN VIEW*/
  @media (max-width: 1200px) {
    .menu-btn{
        display: none;
    }
  }
  @media (max-width: 768px) {
    .hide{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .background-text{
        font-size: 3rem;
    }
    .floating-elements{
        display: none;
    }
    .section-title {
        font-size: 1.8rem;
    }

    .edu-details {
        padding: 10px;
        gap: 1rem;
    }

    .edu-title h2 {
        font-size: 1.3rem;
    }

    .box {
        padding: 10px;
        width: 100%;
    }

    .box h4 {
        font-size: 0.9rem;
    }

    .box p {
        font-size: 0.8rem;
    }

    .percentage {
        font-size: 1.2rem;
    }


    .section-title {
        font-size: 1.8rem;
    }

    .edu-details {
        padding: 10px;
        gap: 1rem;
    }

    .edu-title h2 {
        font-size: 1.3rem;
    }

    .box {
        padding: 10px;
        width: 100%;
    }

    .box h4 {
        font-size: 0.9rem;
    }

    .box p {
        font-size: 0.8rem;
    }

    .percentage {
        font-size: 1.2rem;
    }

    .about-container {
        padding: 15px;
        gap: 15px;
    }

    .about-image {
        height: 10px;
        width: 10px;
    }

    .infosection h1 {
        font-size: 1.8rem;
    }

    .infosection h2 {
        font-size: 1.1rem;
    }

    .infosection p {
        font-size: 0.8rem;
    }



    .experience-section h2 {
        font-size: 1.2rem;
    }

    .experience-container {
        flex-direction: row;
        gap: 15px;
        height: 10px;
        width: 300px;
    }

    .experience-card {
        max-width: 100%;
        padding: 15px;
        margin: 10px 0;
    }

    .experience-card h3 {
        font-size: 1rem;
    }

    .experience-card p {
        font-size: 0.8rem;
    }

    .date-range {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

    .background-text {
        font-size: 6rem; /* Smaller background text for mobile */
    }
}

@media (max-width: 480px) {
    .side-bar{
        width: 50%;
        height: 300px;
}
.section-title {
    font-size: 1.5rem;
}
.into-block-sub h{
    font-size: 30px;
}
.resume{
    width: 100%;
    display: flex;

}
.resume-btn{
    font-size: 10px;
}
/*ACADEMICS SECTION*/
.edu-title h2 {
    font-size: 1.2rem;
}

.box {
    padding: 8px;
    width: 100%;
}

.box h4 {
    font-size: 0.9rem;
}

.box p {
    font-size: 0.8rem;
}

.percentage {
    font-size: 1.2rem;
}

/* experence section*/

.background-text {
    margin-top: 15px;
    font-size: 3rem;
}
.experience-card p{
    display: none;
}
.experience-container{
    height: 100%;
}
#experience{
    height: 100vh;
}
/* About Me Section */

.about-container {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.about-image{
    height: 10px;
    width: 10px;
}

.infosection h1 {
    font-size: 1.8rem;
}

.infosection h2 {
    font-size: 1.1rem;
}

.infosection p {
    font-size: 0.8rem;
}

.skillsection {
    flex-direction: column;
    gap: 15px;
}

.skill .subject {
    width: 100%;
}

.progress-bar {
    width: 100%;
}

.progress-line {
    width: 100%;
}

/* Skill Section */
.skillsection {
    flex-direction: column;
    gap: 10px;
}

.skill .subject {
    width: 100%;
}

.progress-bar {
    width: 100%;
}

.progress-line {
    width: 100%;
}

/* Skill Section */
.skillsection {
    flex-direction: column;
    gap: 10px;
}

.skill .subject {
    width: 100%;
}

.progress-bar {
    width: 100%;
}

.progress-line {
    width: 100%;
}

/* Footer Section */
footer {
    font-size: 14px;
    padding: 15px;
}
footer h2{
    display: none;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: center;
}
.footer-img{
    height: 30px;
    margin: 5px;
}
.social-links {
    margin-top: 20px;
    align-items: center;
  }
  .footer-img:hover{
    filter: invert(1);
  }
  .footer-text{
    font-size: 10px;
    display: flex;
    width: 80%;
    justify-content: center;
  }
/*ABOUTME SECTION*/
.section-title {
    font-size: 1.5rem;
}

.edu-title h2 {
    font-size: 1.2rem;
}

.box {
    padding: 8px;
}

.box h4 {
    font-size: 0.8rem;
}

.box p {
    font-size: 0.7rem;
}

.percentage {
    font-size: 1rem;
}

.about-container {
    padding: 10px;
}

.about-image {
    height: 100px;
    width: 100px;
}

.infosection h1 {
    font-size: 1.5rem;
}

.infosection h2 {
    font-size: 1rem;
}

.infosection p {
    font-size: 0.7rem;
}
}
